* {
   box-sizing: border-box;
}

@font-face {
   font-family: 'Pixel';
   src: url('../fonts/Pixel.ttf');
}

[fb-flappy] {
   position: relative;
   border: 5px solid dodgerblue;
   height: 700px;
   width: 1200px;
   margin: 15px;
   background-color: deepskyblue;
   overflow: hidden;
}

.bird {
   position: absolute;
   width: 60px;
   left: calc(50% - 30px);
   bottom: 50%;
}

.parallel-bars {
   position: absolute;
   top: 0;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.bar {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.bar .border {
   height: 30px;
   width: 130px;
   background: linear-gradient(90deg, #639301, #A5E82E);
   border: 2px solid black;
}

.bar .body {
   height: 120px;
   width: 110px;
   background: linear-gradient(90deg, #639301, #A5E82E);;
   border-left: 2px solid black;
   border-right: 2px solid black;
}

.progress {
   position: absolute;
   top: 10px;
   right: 10px;
   font-family: Pixel;
   font-size: 70px;
}


